<h1>Home!</h1>
<div ng-init='UC.session()'>
    <h3>Welocome {{UC.current_user.first_name}}</h3>
    <a href="#" ng-click='UC.logout()'><button>Logout</button></a>
    <div ng-controller='BucketsController as BC'>
        <form ng-submit='BC.create(BC.newBucket)'>
            name:
            <input type="text" ng-model='BC.newBucket.name'>
            <input type="submit" value="Submit">
        </form>
        <div ng-init='BC.index()'>

                <p ng-repeat='bucket in BC.buckets'>{{bucket.name}} <a href="#!/bucket/{{bucket._id}}"><button> Add To Bucket</button></a></p>
        </div>
    </div>
</div>
